<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mystyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <script src="../static/js/myScript.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/about.js"></script>
    <link rel="stylesheet" href="../static/css/aboutme.css" media="screen">
    <link rel="stylesheet" href="../static/css/about.css" media="screen">
</head>

<body>

<nav id="navbar" class="navbar navbar-expand-lg  scrolling-navbar  fixed-top navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item px-2"><a class="nav-link text-dark" href="/">
                Home</a>
            </li>
            <li class="nav-item px-2 active"><a class="nav-link text-dark  font-weight-bold" href="/about">About</a></li>
            <li class="nav-item px-2"><a class="nav-link text-dark" href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>

<br>
<div class="container mw-100 mh-100 bg-light home mt-4 header" id="myPage">
    <div class="container-fluid h-25 text-center">
        <img class="h-75 bg-light mx-auto d-block img-thumbnail border-0" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="AVA logo">
    </div>
    <h1>
        <a href="" class="typewrite mt-5 text-decoration-none  font-weight-lighter display-5 " data-period="2000"
           data-type='[ "Hi, Welcome to AVA website. ", "My name is <b>Vagharshak</b>.", "Please <u>scroll down</u>, to know more about me."]'>
            <span class="wrap"></span>
        </a>
    </h1>
</div>
<section class="u-align-center u-clearfix u-container-align-center u-white u-section-1" id="carousel_2d4b">
    <div class="u-clearfix u-sheet u-valign-middle">
        <div class="u-layout" style="">
            <div class="u-layout-row" style="">
                <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-1"
                     src="" data-animation-name="customAnimationIn" data-animation-duration="1500"
                     data-animation-delay="500">
                    <div class="u-container-layout u-valign-middle u-container-layout-1" src="">
                        <h3 class="u-align-center u-text u-text-1">Vagharshak Avetisyan</h3>
                        <h4 class="u-align-center u-text u-text-2">Web developer</h4>
                        <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-2">Full Stack Web Developer with a passion for crafting innovative digital
                            solutions. Leveraging solid experience in both front-end and back-end
                            development, I aim to contribute my expertise to a forward-thinking team.
                            Committed to delivering high-quality, user-centric applications while staying
                            abreast of emerging technologies. Eager to tackle new challenges and drive
                            impactful results in a collaborative environment.</p>

                    </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-palette-1-light-3 u-right-cell u-shape-rectangle u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-layout-cell-2"
                     src="" data-animation-name="customAnimationIn" data-animation-duration="1500"
                     data-animation-delay="0">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h3 class="u-align-center u-text u-text-default u-text-3">Our Clients Say</h3>
                        <div id="carousel-9176" data-interval="5000" data-u-ride="carousel"
                             class="u-carousel u-expanded-width u-slider u-slider-1">
                            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                                <li data-u-target="#carousel-9176"
                                    class="u-active u-active-palette-1-base u-grey-30 u-hover-palette-1-base u-shape-circle"
                                    data-u-slide-to="0" style="width: 10px; height: 10px;"></li>
                                <li data-u-target="#carousel-9176"
                                    class="u-active-palette-1-base u-grey-30 u-hover-palette-1-base u-shape-circle"
                                    data-u-slide-to="1" style="width: 10px; height: 10px;"></li>
                                <li data-u-target="#carousel-9176"
                                    class="u-active-palette-1-base u-grey-30 u-hover-palette-1-base u-shape-circle"
                                    data-u-slide-to="2" style="width: 10px; height: 10px;"></li>
                            </ol>
                            <div class="u-carousel-inner" role="listbox">
                                <div class="u-active u-align-center u-carousel-item u-container-align-center u-container-style u-slide">
                                    <div class="u-container-layout u-valign-top u-container-layout-3">
                                        <h5 class="u-align-center u-text u-text-default u-text-5">From where it began!</h5>
                                        <br>
                                        <p class=u-align-center u-text u-text-4">
                                            In 2018, I discovered my love for coding while experimenting with simple websites. What started as a hobby turned into a journey of endless learning and creativity.
                                            </p>
                                    </div>
                                </div>
                                <div class="u-align-center u-carousel-item u-container-align-center u-container-style u-slide">
                                    <div class="u-container-layout u-valign-top u-container-layout-4">
                                        <h5 class="u-align-center u-text u-text-default u-text-7">The Turning Point</h5>
                                        <br>
                                        <p class="u-align-center u-text u-text-6">In 2022, I worked on a team project that utilized IoT for weather predictions. It pushed me to step out of my comfort zone and grow both as a developer and a collaborator</p>
                                    </div>
                                </div>
                                <div class="u-align-center u-carousel-item u-container-align-center u-container-style u-slide">
                                    <div class="u-container-layout u-valign-top u-container-layout-5">
                                        <h5 class="u-align-center u-text u-text-default u-text-9">What’s Next</h5>
                                        <br>
                                        <p class="u-align-center u-text u-text-8">My next step is to merge my passion for technology with social impact. Building solutions that connect people and create opportunities is my ultimate goal</p>
                                    </div>
                                </div>
                            </div>
                            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-rectangle u-spacing-10 u-text-hover-palette-1-base u-carousel-control-1"
                               href="#carousel-9176" role="button" data-u-slide="prev">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 31.494 31.494"><path d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"></path></svg>
                      </span>
                                <span class="sr-only">
                        <svg viewBox="0 0 31.494 31.494"><path d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554
	c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587
	c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"></path></svg>
                      </span>
                            </a>
                            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-rectangle u-spacing-10 u-text-hover-palette-1-base u-carousel-control-2"
                               href="#carousel-9176" role="button" data-u-slide="next">
                      <span aria-hidden="true">
                        <svg viewBox="0 0 31.49 31.49"><path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
	C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path></svg>
                      </span>
                                <span class="sr-only">
                        <svg viewBox="0 0 31.49 31.49"><path d="M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111
	C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587
	c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"></path></svg>
                      </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>